<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bolaolp3"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.bolaolp3.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.bolaolp3.Cadastro"
            android:label="@string/title_activity_cadastro" >
        </activity>
        <activity
            android:name="com.example.bolaolp3.MenuInicial"
            android:label="@string/title_activity_menu_inicial" >
        </activity>
        <activity
            android:name="com.example.bolaolp3.Times"
            android:label="@string/title_activity_times" >
        </activity>
        <activity
            android:name="com.example.bolaolp3.Tabela"
            android:label="@string/title_activity_tabela" >
        </activity>
        <activity
            android:name="com.example.bolaolp3.Ajuda"
            android:label="@string/title_activity_ajuda" >
        </activity>
        <activity
            android:name="com.example.bolaolp3.Jogos"
            android:label="@string/title_activity_jogos">
        </activity>
        <activity
            android:name="com.example.bolaolp3.Boloes"
            android:label="@string/title_activity_boloes" >
        </activity>
        <activity
            android:name="com.example.bolaolp3.NovoBolao"
            android:label="@string/title_activity_novo_bolao" >
        </activity>
        <activity
            android:name="com.example.bolaolp3.Pontuacao"
            android:label="@string/title_activity_pontuacao" >
        </activity>
    </application>

</manifest>
